{% extends 'meetup/partials/base.html' %} {% block title %}Meetup Details Page{%
endblock title %} {% block banner %}{% endblock banner %} {% block content %}
<!-- Event Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div
			class="text-center mx-auto wow fadeInUp"
			data-wow-delay="0.1s"
			style="max-width: 500px">
			<form action="" method="POST">
				{% csrf_token %}
				<h4>Are you sure you want to delete {{meetup}}</h4>
				<input class="btn btn-danger" type="submit" value="Delete" />
			</form>
		</div>
	</div>
</div>
<!-- Event End -->

{% endblock content %}
