{% extends 'meetup/partials/base.html' %} 
{% load static %} 
{% block title %}Password Reset Complete Page{% endblock title %} 
{% load crispy_forms_tags %}
{% block banner %} {% endblock banner %} 

{% block content %}

<!-- Password Reset Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row mt-2 justify-content-center">
			<div class="col-lg-6 wow fadeInUp shadow bg-primary-subtle rounded p-4" data-wow-delay="0.5s">
				<h3 class="mb-4 p-3">Password Reset Complete</h3>
				<hr />
				<div class="p-3 alert alert-success">
					<h5>You can log in with your new password!</h5>
				</div>
				<p class="py-2 text-center"><a class='text-decoration-none' href="{% url 'meetup_login' %}">Login</a></p>
			</div>
		</div>
	</div>
</div>
<!-- Password Reset Start -->
{% endblock content %}
