<!-- Spinner Start -->
<div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>
<!-- Spinner End --> 


<!-- Topbar Start -->
<div class="container-fluid bg-primary text-white d-none d-lg-flex">
    <div class="container py-3">
        <div class="d-flex align-items-center">
            <a href="{% url 'meetup-index' %}">
                <h2 class="text-white fw-bold m-0">Event Meetup</h2>
            </a>
            <div class="ms-auto d-flex align-items-center">
                {%if request.user.is_authenticated%}
                <a class="btn btn-info" href="{% url 'meetup_logout' %}"><i class=" fa fa-right-from-bracket"></i> Logout</a>
                {%else%}
                <span><a href="{% url 'meetup_login' %}" class="btn btn-primary rounded-start-pill py-2">Sign In</a></span>
                <a href="{% url 'meetup_register' %}" class="btn btn-light rounded-end-pill py-2">Sign Up</a>
                {%endif%}
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
            <a href="{% url 'meetup-index' %}" class="navbar-brand d-lg-none">
                <h1 class="fw-bold m-0">Event Meetup</h1>
            </a>
            <div class="ms-auto d-lg-flex">
                <form action="" method="GET"> 
                   <div class="ms-auto d-none input-group-sm input-group">
                        <input type="search" class="form-group rounded-start border border-secondary px-2" name="search" placeholder="Search" aria-describedby="button-addon">
                        <button class="btn btn-outline-secondary btn-sm bi-search" type="submit" id="button-addon"></button>
                    </div>
                </form>
            </div>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    {%if request.user.is_authenticated%}
                    
                    <a href="{% url 'meetup-index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'meetup-event' %}" class="nav-item nav-link">Events</a>
                    <a href="{% url 'upcoming_meetup'%}" class="nav-item nav-link">Upcoming Events</a>
                    <a href="{% url 'user-meetup' request.user.id %}" class="nav-item nav-link">My Meetup</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle disabled" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <a href="feature.html" class="dropdown-item">Features</a>
                            <a href="team.html" class="dropdown-item">Our Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="quote.html" class="dropdown-item">Quotation</a>
                        </div>
                    </div>
                    <a href="{% url 'meetup_logout' %}" class="nav-item nav-link d-lg-none">Logout</a>

                    {% else %}
                    <a href="{% url 'meetup-index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'meetup-event' %}" class="nav-item nav-link">Events</a>
                    <a href="{% url 'upcoming_meetup'%}" class="nav-item nav-link">Upcoming Events</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle disabled" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <a href="feature.html" class="dropdown-item">Features</a>
                            <a href="team.html" class="dropdown-item">Our Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="quote.html" class="dropdown-item">Quotation</a>
                        </div>
                    </div>
                    <a href="{% url 'meetup_login' %}" class="nav-item nav-link d-lg-none">Login</a>
                    <a href="{% url 'meetup_register' %}" class="nav-item nav-link d-lg-none">Register</a>
                    {% endif %}
                </div>
                <div class="ms-auto d-lg-flex">
                    <form action="" method="GET"> 
                       <div class="ms-auto d-flex input-group-sm input-group">
                            <input type="search" class="form-group rounded-start border border-secondary  px-2" name="search" placeholder="Search" aria-describedby="button-addon">
                            <button class="btn btn-outline-secondary btn-sm bi-search" type="submit" id="button-addon"></button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

